 version: 2.1

 jobs:
   build:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get upgrade -y
      - run:
          name: "list command"
          command: |
            sudo apt install tidy -y
            git clone --branch circleci-project-setup https://github.com/CarlosGutierrez1/infraticircleci.git
            cd infraticircleci/
            tidy index.html
            yes | scp -i $sshkeyaws index.html  ubuntu@ec2-18-116-20-118.us-east-2.compute.amazonaws.com:/var/www/html/
            
            
   
 workflows:
   version: 2
   build-and-deploy:
     jobs:
       - build
