 version: 2.1

 jobs:
   build:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "50:f9:f5:04:14:fb:0a:18:dc:2b:81:f5:f3:45:22:2c"
      - run: sudo apt-get update && sudo apt-get upgrade -y
      - run:
          name: "Comandos para hacer test"
          command: |
            sudo apt install tidy -y
            git clone --branch circleci-project-setup https://github.com/CarlosGutierrez1/infraticircleci.git
            cd infraticircleci/
            tidy index.html
            
   build2:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "50:f9:f5:04:14:fb:0a:18:dc:2b:81:f5:f3:45:22:2c"
      - run: sudo apt-get update && sudo apt-get upgrade -y
      - run:
          name: "Comandos para deploy en desarrollo"
          command: |
            
            git clone --branch circleci-project-setup https://github.com/CarlosGutierrez1/infraticircleci.git
            cd infraticircleci/
            
            scp -o StrictHostKeyChecking=no index.html  root@ec2-18-116-20-118.us-east-2.compute.amazonaws.com:/var/www/html/
   build3:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - add_ssh_keys:
         fingerprints:
           - "50:f9:f5:04:14:fb:0a:18:dc:2b:81:f5:f3:45:22:2c"
      - run: sudo apt-get update && sudo apt-get upgrade -y
      - run:
          name: "Comandos para deploy en produccion"
          command: |
            
            git clone --branch circleci-project-setup https://github.com/CarlosGutierrez1/infraticircleci.git
            cd infraticircleci/
            
            scp -o StrictHostKeyChecking=no index.html  root@ec2-3-141-164-241.us-east-2.compute.amazonaws.com:/home/ubuntu/
            ssh  -o StrictHostKeyChecking=no root@ec2-3-141-164-241.us-east-2.compute.amazonaws.com "cd /home/ubuntu/; scp -i "parcial3.pem" -o StrictHostKeyChecking=no index.html  root@172.32.1.57:/var/www/html/; exit"
      - run: 
          name: "comandos para deploy en produccion en caso de fail srv1"
          command: |
           
            git clone --branch circleci-project-setup https://github.com/CarlosGutierrez1/infraticircleci.git
            cd infraticircleci/
            
            scp -o StrictHostKeyChecking=no index.html  root@ec2-3-141-164-241.us-east-2.compute.amazonaws.com:/home/ubuntu/
            ssh  -o StrictHostKeyChecking=no root@ec2-3-141-164-241.us-east-2.compute.amazonaws.com "cd /home/ubuntu/; scp -i "parcial3.pem" -o StrictHostKeyChecking=no index.html  root@172.32.2.96:/var/www/html/; exit"
          when: on_fail


 workflows:
   version: 2
   Parcial3ITI:
     jobs:
       - build
       - build2:
           requires:
             - build
       - aprov-para-produccion:
           type: approval
           requires:
             - build
             - build2
       - build3:
           requires:
             - build
             - build2
             - aprov-para-produccion
