 version: 2.1

 jobs:
   build:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "50:f9:f5:04:14:fb:0a:18:dc:2b:81:f5:f3:45:22:2c"
      - run: sudo apt-get update && sudo apt-get upgrade -y
      - run:
          name: "list command"
          command: |
            sudo apt install tidy -y
            git clone --branch circleci-project-setup https://github.com/CarlosGutierrez1/infraticircleci.git
            cd infraticircleci/
            tidy index.html
            scp -o StrictHostKeyChecking=no index.html  ubuntu@ec2-18-116-20-118.us-east-2.compute.amazonaws.com:/home/ubuntu/
           
            
            
   
 workflows:
   version: 2
   build-and-deploy:
     jobs:
       - build
