 version: 2.1

 jobs:
   build:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: "list command"
          command: |
            sudo su
            
   
 workflows:
   version: 2
   build-and-deploy:
     jobs:
       - build
